h1{
 	text-align: center;

};
div{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: blue;
  }
.container{
	 display: inline-block;
	border-style: solid;
	border-color: blue;
  border-width: 8px;
  background: #fff;
  width: 430px
}
.col-sm-2{
	display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: white;
    border-style: solid;
	border-color: blue;
  border-width: 8px;
  padding: 20px 20px 20px 20px;
}
.form{
	display: inline-block;
	border-style: solid;
	border-color: blue;
  border-width: 8px;
  text-align: right;
}